{{ ansible_managed | comment }}

version: '3.9'
x-logging: &logging
  logging:
    driver: json-file
    options:
      max-size: 10m
      max-file: "3"
      tag: {% raw %}'observability|{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.ID}}'{% endraw %}


services:

  elk:
    image: {{ elk_docker_image }}
    container_name: {{ container_name_elk }}
    restart: on-failure:5
    tmpfs:
      - /run
      - /tmp
    security_opt:
      - no-new-privileges
    ports:
      - "{{ host_ip_address_to_bind_to }}:5601:5601/tcp"  # Kibana
      - "{{ host_ip_address_to_bind_to }}:5044:5044/tcp"  # Logstash
      - "{{ host_ip_address_to_bind_to }}:9200:9200/tcp"  # ElasticSearch API
    volumes:
      - {{ observability_root_path }}/elk/:/etc/logstash/conf.d/
      - elk-data:/var/lib/elasticsearch
      - /etc/localtime:/etc/localtime:ro
    networks:
      - service_net
    deploy:
      resources:
        limits:
          memory: {{ elk_container_memory_limit }}

  prometheus:
    image: {{ prometheus_docker_image }}
    container_name: prometheus
    restart: on-failure:5
    read_only: true
    tmpfs:
      - /run
      - /tmp
    security_opt:
      - no-new-privileges
    volumes:
      - prom-data:/prometheus
      - /etc/localtime:/etc/localtime:ro
      - {{ observability_root_path }}/prometheus/prometheus.yml:/prometheus/prometheus.yml:ro
{% if prometheus_service_discovery_target_templates|length != 0 %}
      - {{ observability_root_path }}/prometheus/{{ prometheus_service_discovery_all_targets_file }}:/prometheus/{{ prometheus_service_discovery_all_targets_file }}:ro
      - {{ observability_root_path }}/prometheus/{{ prometheus_service_discovery_client_targets_file }}:/prometheus/{{ prometheus_service_discovery_client_targets_file }}:ro
{% endif %}
    ports:
      - "{{ host_ip_address_to_bind_to }}:9090:9090/tcp"
    command:
      - --storage.tsdb.path=/prometheus
      - --web.console.libraries=/usr/share/prometheus/console_libraries
      - --web.console.templates=/usr/share/prometheus/consoles
      - --log.format=json
    <<: *logging
    networks:
      - service_net
    depends_on:
      - elk


  grafana:
    image: {{ grafana_docker_image }}
    container_name: grafana
    restart: on-failure:5
    read_only: true
    tmpfs:
      - /run
      - /tmp
    security_opt:
      - no-new-privileges
    ports:
      - "{{ host_ip_address_to_bind_to }}:3000:3000/tcp"
    volumes:
      - grafana-data:/var/lib/grafana
      - {{ observability_root_path }}/grafana/provisioning:/etc/grafana/provisioning
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - prometheus
    <<: *logging
    networks:
      - service_net

networks:
  service_net:
    name: service_net


volumes:
  elk-data:
  grafana-data:
  prom-data:
